<h1>Listing facilities</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead><tbody>
<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= link_to facility.company.name, facility.company %></td>
    <td><%= link_to 'Show', facility %></td>
    <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
    <td><%= link_to 'Destroy', facility, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Facility', new_facility_path %>
