<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Company:</b>
  <%= link_to @facility.company.name, @facility.company %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
