<h1>Listing system_types</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Icon</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead><tbody>
<% @system_types.each do |system_type| %>
  <tr>
    <td><%= system_type.name %></td>
    <td><%= system_type.icon %></td>
    <td><%= link_to 'Show', system_type %></td>
    <td><%= link_to 'Edit', edit_system_type_path(system_type) %></td>
    <td><%= link_to 'Destroy', system_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</tbody>
<br />

<%= link_to 'New System type', new_system_type_path %>
