<%= form_for(@sensor_box) do |f| %>
  <% if @sensor_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_box.errors.count, "error") %> prohibited this sensor_box from being saved:</h2>

      <ul>
      <% @sensor_box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :system %><br />
    <%= f.text_field :system %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
