<h1>Listing sensor_boxes</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Serial</th>
    <th>System</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead><tbody>
<% @sensor_boxes.each do |sensor_box| %>
  <tr>
    <td><%= sensor_box.name %></td>
    <td><%= sensor_box.serial %></td>
    <td><%= link_to sensor_box.system.name, sensor_box.system %></td>
    <td><%= link_to 'Show', sensor_box %></td>
    <td><%= link_to 'Edit', edit_sensor_box_path(sensor_box) %></td>
    <td><%= link_to 'Destroy', sensor_box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Sensor box', new_sensor_box_path %>
