<h1>Listing hardware_types</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Icon</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead><tbody>
<% @hardware_types.each do |hardware_type| %>
  <tr>
    <td><%= hardware_type.name %></td>
    <td><%= hardware_type.icon %></td>
    <td><%= link_to 'Show', hardware_type %></td>
    <td><%= link_to 'Edit', edit_hardware_type_path(hardware_type) %></td>
    <td><%= link_to 'Destroy', hardware_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Hardware type', new_hardware_type_path %>
