<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @controller.name %>
</p>

<p>
  <b>Serial:</b>
  <%= @controller.serial %>
</p>

<p>
  <b>System:</b>
  <%= @controller.system %>
</p>


<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
