<!DOCTYPE html>
<html>
<head>
  <title>RHoK67</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<header>
			<a href="/"><%= image_tag "logo.png" %></a>
		</header>
		<nav>
			<ul>
			<li><a href="dashboard">Dashboard</a></li>
			<li><a href="manage">Manage</a></li>
			<li><a href="about">About</a></li>
			<li><a href="help">Help</a></li>
			</ul>
		</nav>
		<article>
			<%= yield %>
		</article>
		<footer>
			<div class="poweredBy">
			Website Developed by
			<a target="_blank" href="http://sector67.org">RHoK67 Team</a>
			</div>
		</footer>
	</div>
</body>
</html>
