<h1>Listing systems</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Building</th>
    <th>System type</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead>
<tbody>
<% @systems.each do |system| %>
  <tr>
    <td><%= system.name %></td>
    <td><%= link_to system.building.name, system.building %></td>
    <td><%= link_to system.system_type.name, system.system_type %></td>
    <td><%= link_to 'Show', system %></td>
    <td><%= link_to 'Edit', edit_system_path(system) %></td>
    <td><%= link_to 'Destroy', system, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New System', new_system_path %>
