<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @system.name %>
</p>

<p>
  <b>Building:</b>
  <%= link_to @system.building.name, @system.building %>
</p>

<p>
  <b>System type:</b>
  <%= link_to @system.system_type.name, @system.system_type %>
</p>


<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
