<h1>Listing unit_types</h1>

<table class="datatable">
<thead> 
 <tr>
    <th>Name</th>
    <th>Icon</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead>
<tbody>
<% @unit_types.each do |unit_type| %>
  <tr>
    <td><%= unit_type.name %></td>
    <td><%= unit_type.icon %></td>
    <td><%= link_to 'Show', unit_type %></td>
    <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
    <td><%= link_to 'Destroy', unit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Unit type', new_unit_type_path %>
