<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Sensor Box<br />
		<%= f.collection_select :sensor_box_id, SensorBox.all, :id, :name %>
  </div>
  <div class="field">
    Hardware Type<br />
		<%= f.collection_select :hardware_type_id, HardwareType.all, :id, :name %>
  </div>
  <div class="field">
    Unit Type<br />
		<%= f.collection_select :unit_type_id, UnitType.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
