<h1>Listing sensors</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Sensor Box</th>
    <th>Hardware type</th>
    <th>Unit type</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead><tbody>
<% @sensors.each do |sensor| %>
  <tr>
    <td><%= sensor.name %></td>
		<td><%= link_to  sensor.sensor_box.name, sensor.sensor_box %></td>
    <td><%= link_to  sensor.hardware_type.name, sensor.hardware_type %></td>
    <td><%= link_to  sensor.unit_type.name, sensor.unit_type %></td>
    <td><%= link_to 'Show', sensor %></td>
    <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
    <td><%= link_to 'Destroy', sensor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Sensor', new_sensor_path %>
