<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sensor.name %>
</p>

<p>
  <b>Sensor Box:</b>
  <%= link_to @sensor.sensor_box.name, @sensor.sensor_box %>
</p>

<p>
  <b>Hardware type:</b>
  <%= link_to @sensor.hardware_type.name, @sensor.hardware_type %>
</p>

<p>
  <b>Unit type:</b>
  <%= link_to  @sensor.unit_type.name, @sensor.unit_type %>
</p>


<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
