<h1>Listing inputs</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Sensor</th>
    <th>Value</th>
    <th>When</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead>
<tbody>
<% @inputs.each do |input| %>
  <tr>
    <td><%= input.sensor %></td>
    <td><%= input.value %></td>
    <td><%= input.when %></td>
    <td><%= link_to 'Show', input %></td>
    <td><%= link_to 'Edit', edit_input_path(input) %></td>
    <td><%= link_to 'Destroy', input, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Input', new_input_path %>
