<h1>Listing buildings</h1>

<table class="datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Facility</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
</thead>
<tbody>
<% @buildings.each do |building| %>
  <tr>
    <td><%= building.name %></td>
    <td><%= link_to building.facility.name, building.facility %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Building', new_building_path %>
